==
<!-- Pre-Submission: This is what's displayed before the subscription form has been submitted. -->
                <div id="pre-subscribe">
                    <div class="row" id="copy">
                        <h1>Something <strong>realy awesome</strong> is coming <strong>very soon</strong>.</h1>
                        <p>We are worging hard for the new <strong>{{ this.theme.site_name }}</strong></p>
                    </div>

                    <div class="row" id="subscribe">
                        <!-- Subscription Form: Configure your MailChimp settings within MailChimp Plugin. -->
                        <form class="row" id="subscribe-form" 
                                                data-request="mailSignup::onSignup" 
                                                data-request-update="'mailSignup::result': '#subscribe-form'"
                                                action="{{ 'assets/helpers/post-subscribe.php' |theme }}" method="post">
                                <input type="email" name="email" id="email" placeholder="Ваша электропочта">
                                <button type="submit" name="subscribe" class="button icon submit"></button>
                        </form>
                    </div>
                </div>
