description = "Default layout"
==
<!DOCTYPE html>
<html dir="ltr" lang="ru-RU">
    {% partial "meta" %}

    <body>
        <!-- Status: Shows if the subscription succeeded or not. -->
        <div id="loading">
            <span class="status icon"></span>
        </div>

        <!-- Header: Your site logo, tagline and project status. -->
        <header class="row" id="header">
            {% partial "header" %}
        </header>

        <!-- Intro: Your intro text and MailChimp form. -->
        <div class="row" id="intro">
            <div class="content">
                {% partial "subscription" %}

                <!-- Social Links: Add or remove your social links here. -->
                <div class="row" id="social">
                    <a class="icon twitter" href="http://twitter.com/you"></a>
                    <a class="icon facebook" href="http://facebook.com/you"></a>
                    <a class="icon email" href="mailto:you@mail.ru"></a>
                </div>
            </div>
        </div>

        <!-- Required Scripts: Not too much needed for Launch. -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    	<script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
		
		
		{% framework extras %}
		{% scripts %}
    </body>
</html>
